html {
    background-color: #111
}

.text-red {
    color: #CC0000; /* Replaces RED = '\033[31m' */
}

.text-green {
    color: #4E9A06; /* Replaces GREEN = '\033[32m' */
}

.text-yellow {
    color: #C4A000; /* Replaces YELLOW = '\033[33m' */
}

.text-bold {
    font-weight: bold; /* Replaces BOLD = '\033[1m' */
}

.inline {
    display: inline;
}

.terminal-window {
    background-color: #1c2022; /* A dark, terminal-like color */
    color: #EEEEEC;          /* A light, off-white text color */
    font-family: 'Courier New', Courier, monospace; /* A monospaced font */
    padding: 20px;
    border: 1px solid #525c49;
    border-radius: 5px;
    min-height:47em;
    position: relative;
    overflow: hidden
}

.terminal-window::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none; /* Allows clicks to pass through the overlay */
}