{% extends "layout.html" %}

{% block title %}RPS Battle{% endblock %}

{% block terminal %}
    <header>
      {% if not game_started %}
        <pre class="text-yellow">{{ title_art }}</pre>
        <p>🦕 A dino-themed "Rock, Paper, Scissors" battle 🦖</p>
        <p>🦕 Score 3 wins to be crowned ruler of the dinosaurs! 🦖</p>
      {% else %}
        <pre>
             |                 |
            =X=================X=
             |Your score:     <span class="text-bold">{{ score[0] }}</span>|
             |Opponent score: <span class="text-bold">{{ score[1] }}</span>|
            =X=================X=
             |                 |
        </pre>
      {% endif %}
    </header>

    {% if game_winner %}
        {% if game_winner == 'player' %}
            <pre class="text-green">{{ cowsay_art_for_win }}</pre>
        {% else %}
            <h2 class="text-red">You have not proven yourself worthy.</h2>
        {% endif %}
    {% else %}
        {% if round_data.winner %}
            <p>You chose {{ round_data.player_choice }}!</p>
            <p>Your opponent chooses {{ round_data.computer_choice }}!</p>
            <p>{{ round_data.battle_text }}</p>

            {% if round_data.winner == 'player' %}
                <h3 class="text-green">You are victorious!</h3>
            {% elif round_data.winner == 'opponent' %}
                <h3 class="text-red">Your opponent is victorious!</h3>
            {% else %}
                <h3 class="text-yellow">A fierce battle, but no victor.</h3>
            {% endif %}
        {% endif %}
        {% if not game_winner %}
            <h3>Choose your champion!</h3>
        {% endif %}
    {% endif %}
{% endblock %}

{% block actions %}
    <!-- This all goes inside the .actions div -->
    {% if game_winner %}
      <form action="{{ url_for('reset_game') }}" method="GET" style="display: inline">
        <button type="submit" name="reset">Play Again</button>
      </form>
      <form action="{{ url_for('show_stats') }}" method="GET" style="display: inline">
        <button type="submit" name="stats">View Stats</button>
      </form>
      <form action="{{ url_for('signout') }}" method="GET" style="display: inline">
        <button type="submit" name="signout">Sign Out</button>
      </form>
    {% else %}
      <form method="POST">
        <button type="submit" name="move" value="Raptor">Raptor</button>
        <button type="submit" name="move" value="Pterodactyl">Pterodactyl</button>
        <button type="submit" name="move" value="Stegosaurus">Stegosaurus</button>
      </form>
    {% endif %}
{% endblock %}