<!DOCTYPE html>
<html>
<head>
    <title>RPS Battle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}">
</head>
<body>
  <div class="terminal-window">
    <!-- Title -->
    <header>
      {% if not game_started %}
        <!-- Display this content if the game has NOT started -->
        <pre class="text-yellow">{{ title_art }}</pre>
        <p>🦕 A dino-themed "Rock, Paper, Scissors" battle 🦖</p>
        <p>🦕 Score 3 wins to be crowned ruler of the dinosaurs! 🦖</p>
      {% else %}
        <!-- Display this content if the game HAS started -->
        <pre>
             |                 |
            =X=================X=
             |Your score:     <span class="text-bold">{{ score[0] }}</span>|
             |Opponent score: <span class="text-bold">{{ score[1] }}</span>|
            =X=================X=
             |                 |
        </pre>
      {% endif %}
    </header>

    <!-- Check if the game is over -->
    {% if game_winner %}
        {% if game_winner == 'player' %}
            <pre class="text-green">{{ cowsay_art_for_win }}</pre>
        {% else %}
            <h2 class="text-red">You have not proven yourself worthy.</h2>
        {% endif %}

    <!-- Otherwise, show game controls and results -->
    {% else %}
        <!-- Round Results Display -->
        {% if round_data.winner %}
            <p>You chose {{ round_data.player_choice }}!</p>
            <p>Your opponent chooses {{ round_data.computer_choice }}!</p>
            <p>{{ round_data.battle_text }}</p>

            {% if round_data.winner == 'player' %}
                <h3 class="text-green">You are victorious!</h3>
            {% elif round_data.winner == 'opponent' %}
                <h3 class="text-red">Your opponent is victorious!</h3>
            {% else %}
                <h3 class="text-yellow">A fierce battle, but no victor.</h3>
            {% endif %}
        {% endif %}
        {% if not game_winner %}
            <h3>Choose your champion!</h3>
        {% endif %}
    {% endif %}
      </div>
      <div class="actions">
        {% if game_winner %}
          <form action="{{ url_for('reset_game') }}" method="GET" stle="display: inline">
            <button type="submit" name="reset">Play Again</button>
          </form>
          <form action="{{ url_for('show_stats') }}" method="GET" stle="display: inline">
            <button type="submit" name="stats">View Stats</button>
          </form>
        {% else %}
          <form method="POST">
            <button type="submit" name="move" value="Raptor">(1) Raptor</button>
            <button type="submit" name="move" value="Pterodactyl">(2) Pterodactyl</button>
            <button type="submit" name="move" value="Stegosaurus">(3) Stegosaurus</button>
          </form>
        {% endif %}
      </div>
</body>
</html>