<!DOCTYPE html>
<html>
<head>
    <!-- Use a block for the title so child templates can customize it -->
    <title>{% block title %}RPS Battle{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}">
</head>
<body {% if play_sound %}data-play-sound="true"{% endif %}>
  {% for message in get_flashed_messages() %}
    <p class="message">{{ message }}</p>
  {% endfor %}
    <div class="terminal-window">
        {% block terminal %}{% endblock %}
    </div>
    <div class="actions">
        {% block actions %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='javascripts/game.js') }}"></script>
</body>
</html>